<!doctype html>
{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<h1>Review Alliance Ship Loss Claims</h1>
{% for character in claims %}
<h3>Pilot: {{ character.character_name }}</h3>
<form action="claim_losses" method="post">
<table class='loss_table'>
    <tr>
        <th>Link</th>
        <th>Timestamp</th>
        <th>Ship</th>
        <th>System</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    {% for loss in character.losses %}
    <tr class="char_loss">
        <td><a href="https://zkillboard.com/kill/{{ loss.id }}">Loss</a></td>
        <td>{{ loss.timestamp }}</td>
        <td>
            <a href="http://www.eveonlineships.com/eve-ship-database.php?ids={{loss.ship_type_id}}">
                {{ loss.ship_type_name }}
            </a>
        </td>
        <td>
            <a href="http://evemaps.dotlan.net/system/{{ loss.system_name }}">
                {{ loss.system_name }}
            </a>
        </td>
        <td>{{ "{:,.2f} isk".format(loss.price) }}</td>
        <td>
            <select name="{{loss.id}}">
                <option value="Claimed">No Action</option>
                <option value="Paid">Paid</option>
                <option value="Rejected">Rejected</option>
            </select>
        </td>
    </tr>
    {% endfor %}
    <td></td>
    <td></td>
    <td></td>
    <td><b>Total:</b></th>
    <td>{{ "{:,.2f} isk".format(character.loss_total) }}</td>
    <td></td>
</table>
<input type="submit" value="Submit response">
</form>
{% endfor %}
{% endblock %}
