<!doctype html>
{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>Pilot</h3>
<div class="char_container" style="width: 100%; overflow: hidden;">
    <div class="char_pic" style="width: 80px; float: left;">
        <img src="{{ character.picture }}">
    </div>
    <div class="char_name" style="margin-left: 80px;">
        <b>{{ character.name }}</b>
    </div>
    <div class="char_affiliation" style="margin-left: 80px;">
        {{ character.corporation_name }} - {{ character.alliance_name }}
    </div>
</div>
{% if character.roles %}
<ul>
    {% for role in character.roles %}
    <li class="char_role">{{ role }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>Losses</h3>
{% if character.losses %}
<table style="width:100%">
    <tr>
        <th>Link</th>
        <th>Timestamp</th>
        <th>Ship</th>
        <th>System</th>
        <th>Status</th>
    </tr>
    {% for loss in character.losses %}
    <tr class="char_loss">
        <td><a href="https://zkillboard.com/kill/{{ loss.id }}">Loss</a></td>
        <td>{{ loss.timestamp }}</td>
        <td>{{ loss.ship_type }}</td>
        <td>{{ loss.system_name }}</td>
        <td>{{ loss.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
