<!doctype html>
<title>Recent losses for {{ character.name }}</title>
<h3>Pilot</h3>
<img class="char_pic" src="{{ character.picture }}">
<div class="char_name">{{ character.name }}</div>
<div class="char_affiliation">
    {{ character.corporation_name }} - {{ character.alliance_name }}
</div>
{% if character.roles %}
    <ul>
    {% for role in character.roles %}
        <li class="char_role">{{ role }}</li>
    {% endfor %}
    </ul>
{% endif %}
<h3>Losses</h3>
{% if character.losses %}
    <ul>
    {% for loss in character.losses %}
    <li class="char_loss">
        <a href="https://zkillboard.com/kill/{{ loss.id }}">
            {{ loss.ship_type }}
        </a>
    </li>
    {% endfor %}
    </ul>
{% endif %}

